{
	"name": "__PKG_NAME__",
	"private": true,
	"author": "MakeAwesomeHappen",
	"version": "1.0.0",
	"keywords": ["pebble-app"],
	"pebble": {
		"displayName": "__APP_NAME__",
		"uuid": "__UUID__",
		"projectType": "moddable",
		"sdkVersion": "3",
		"enableMultiJS": true,
		"targetPlatforms": ["gabbro"],
		"watchapp": { "watchface": false },
		"messageKeys": ["dummy"],
		"resources": { "media": [] }
	},
	"scripts": {
		"build": "node node_modules/pebble-signals/dist/build.mjs --app main"
	},
	"dependencies": {
		"@moddable/pebbleproxy": "^0.1.8"
	},
	"devDependencies": {
		"pebble-signals": "^__PKG_VERSION__",
		"esbuild": "^0.28.1",
		"typescript": "^6.0.3"
	}
}
